[flake8]
max-line-length = 100
exclude = .git,__pycache__,dist,build,*.egg,venv,env,archive,archives
# E203 et W503 sont en contradiction avec Black
ignore = E203, W503
per-file-ignores =
    __init__.py: F401
    tests/*: E501
    **/conftest.py: E402, F401
    setup.py: E402